DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
TELEGRAM_BOT_TOKEN=
TELEGRAM_MANAGER_CHAT_ID=
TELEGRAM_MARKETING_CHAT_ID=@BandKalrad
TELEGRAM_PUBLIC_URL=https://t.me/kalradia_crm_bot
VK_COMMUNITY_URL=https://vk.com/calradia_band
VK_MESSAGES_URL=https://vk.com/im/convo/-234061306?entrypoint=community_page&tab=all
GOOGLE_SHEETS_URL=https://docs.google.com/spreadsheets/d/1sjnVLH0J5Mk6XIGxs8HgRRnqgdauXSLNimdJhGBWO3g/edit?usp=sharing
